<!DOCTYPE html>
<html>
<head>
<title>Validador de CPF</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script>
  const validaCampos = function(){
    if(document.getElementById("nome").value == "") {
      document.getElementById("erro").innerHTML = "Preencha o campo nome";
      document.getElementById("nome").focus();
      document.getElementById("erro").style.display = "block";
      return false;
    }

    if(document.getElementById("cpf").value == "") {
      document.getElementById("erro").innerHTML = "Preencha o campo cpf";
      document.getElementById("cpf").focus();
      document.getElementById("erro").style.display = "block";
      return false;
    }
    return true;
  }
</script>
</head>
<body class="container">
  <br>
  <br>
  <br>
    <h1>Validador de CPF</h1>
    <form action="/valida-cpf" method="GET" onsubmit="return validaCampos()">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
        </div>
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Digite seu CPF">
        </div>
        <br>

        <div class="alert alert-danger" style="display: none;" id="erro" role="alert">
          This is a danger alert—check it out!
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>

</body>
</html>